In [1]:
import pyrebase

In [2]:
firebaseConfig = {
  "apiKey": "AIzaSyAWDV1ewlU5Je_BXLAyYMP2haBc-_MGx7k",
  "authDomain": "jobseeker-34ae4.firebaseapp.com",
  "databaseURL": "https://jobseeker-34ae4-default-rtdb.firebaseio.com",
  "projectId": "jobseeker-34ae4",
  "storageBucket": "jobseeker-34ae4.appspot.com",
  "messagingSenderId": "664053320393",
  "appId": "1:664053320393:web:6b8d7685ab616b92ca1b18",
  "measurementId": "G-R676D6RNT5"
}

In [3]:
firebase = pyrebase.initialize_app(firebaseConfig)
db = firebase.database()
auth = firebase.auth()

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv("applicant_data.csv")

In [10]:
df

,name,working_arrangement_type,device_check,working_experience,role_due,start_When,available_start_date
0,shehan,remote,yes i have,"Currently, I work at LMN Solutions as a Softwa...",Less than 1 year,NaN,i can start immediately
1,kashmi,remote,yes i have,"Currently, I work at LMN Solutions as a Softwa...",Less than 1 year,NaN,i can start immediately

In [18]:
# Initialize empty lists to store names and skills
names = []
skills_list = []

# Loop through each name in the CSV file
for name in df['name']:
    # Fetch skills from Firebase for the current name
    skills = db.child("Users").child(name).child("info").child("Skills").get().val()
    
    # Append name and skills to the lists
    names.append(name)
    skills_list.append(skills if skills else "No skills found")  # Handle case if skills are missing

# Create the DataFrame with names and skills
Candidates_data = pd.DataFrame({
    'name': names,
    'Skills': skills_list,
})

# Print or use the DataFrame as needed
print(Candidates_data)

     name                                             Skills
0  shehan            python, data analysis, machine learning
1  kashmi  java, python, c++, software development, algor...

In [11]:
c = db.child("Users").child("kashmi").child("info").child("Skills").get().val()

In [15]:
c

'java, python, c++, software development, algorithms'

In [16]:
Candidates_data = pd.DataFrame({
    'name': ['shehan', 'krishan', 'gayan', 'amal'],
    'Skills': ['python, machine learning, data analysis', 'java, c++, software development', 'html, css, javascript, web development', 'machine learning, python, data engineering'],
})

In [17]:
Candidates_data

      name                                      Skills
0   shehan     python, machine learning, data analysis
1  krishan             java, c++, software development
2    gayan      html, css, javascript, web development
3     amal  machine learning, python, data engineering

In [19]:
Candidates_data

     name                                             Skills
0  shehan            python, data analysis, machine learning
1  kashmi  java, python, c++, software development, algor...